<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SEARCH INSTANCE BY NAME</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
		<table border="1" class = "table table-hover table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						INSTANCE ID
					</th>
					<th>
						INSTANCE NAME
					</th>
					<th>
						STATUS
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="instance: ${instance}">
					<td th:text="${instance.id}"></td>
					<td th:text="${instance.instance_name}"></td>
					<td th:text="${instance.status}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href = "@{http://localhost:8080/}" class="btn btn-primary btn-sm mb-3"> HOME </a><br>
		
	</div>
</body>
</html>
